@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alexandria-Light';
  src: url('../public/fonts/Alexandria-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-alexandria-Light {
  font-family: 'Alexandria-Light', 'sans-serif' !important;
}

/* @font-face {
  font-family: 'Arboria-Light';
  src: url('../public/fonts/Arboria-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}  */
.PhoneInputCountrySelectArrow {
  margin-left: 10px;
  margin-right: 10px;
} 
button:disabled {
  background-color: #d6d6d6 !important;
  border-color: #d6d6d6 !important;
  color: #FFF !important
}
/* input:focus, 
.PhoneInputInput:focus {
  border-color: #dc2626 !important;
  caret-color: #dc2626 !important;
  outline: none;
} */

